*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
html{
    font-size: 62.5%;
}
.Hcontainer{
    display: flex;
    align-items: center;
    column-gap: 3rem;
    position: relative;left: 2.5rem;
}
.header1{
    height: 7rem;
    background-color: rgba(25, 162, 226, 0.925);
    border: 5px solid rgba(6, 66, 94, 0.925);
    display: flex;
    align-items: center;
    column-gap: 3rem;
}
.nav{
    font-size: 2rem;
    display: flex;
    column-gap: 2rem;
    transition: background-color 0.2rem;
}
.nav a{
    text-decoration: none;
    width: 10rem;
    height: 5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav a:hover:not(.currentpage){
    background-color: rgba(21, 145, 202, 0.925);
    border: 0.2rem solid rgba(6, 66, 94, 0.925);
}