*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 30px;
}
.hero{
    height: 100%;
    width: 100%;
    background-color: rgb(20, 20, 20);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #00000010;
    border-radius: 30px;
}
.toggle-button{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#button{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #1014ff, #06acff);
    border-radius: 30px;
    transition: .5s;
}
.input-box{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-box input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    background: #ffffff;
    border-radius: 5px;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 1em;
    transition: .5s;
}
.animate-box span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    transition: .5s;
}
.input-box input:valid ~ span,
.input-box input:focus ~span{
    color: #1014ff;
    transform: translateX(10px) translateY(0px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #ffffff;
    border-left: 1px solid #1014ff;
    border-right: 1px solid #1014ff;
    letter-spacing: 0.2em;
}
.input-box input:valid,
.input-box input:focus{
    border: 1px solid #1014ff;
}
.box{
    margin: 10px 10px 30px;
}
.forgot a{
    color: black;
    text-decoration: none;
}
.forgot a:hover{
    color: #1014ff;
}
.forgot{
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}
.text-box{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    outline: none;
    background: transparent;
}
.submit-button{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #1014ff, #06acff);
    border: 0;
    outline: none;
    border-radius: 30px;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}