*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    background: #00155a;
}
.Hcontainer{
    display: flex;
    align-items: center;
    column-gap: 3rem;
    position: relative;left: 2.5rem;
}
.header1{
    height: 7rem;
    background-color: rgba(25, 162, 226, 0.925);
    border: 5px solid rgba(6, 66, 94, 0.925);
    display: flex;
    align-items: center;
    column-gap: 3rem;
}

.nav{
    font-size: 2rem;
    display: flex;
    column-gap: 2rem;
    transition: background-color 0.2rem;
}
.nav a{
    text-decoration: none;
    width: 10rem;
    height: 5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav a:hover:not(.currentpage){
    background-color: rgba(21, 145, 202, 0.925);
    border: 0.2rem solid rgba(6, 66, 94, 0.925);
    
}

.contactUs{
    width: 100%;
    height: 1150px;
    background: #00155a;
    display: flex;
    align-items: center;
    justify-content: center;

}

form{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 36px 73px;
    width: 600px;
    max-width: 600px;
    border-radius: 10px;
}

form h2{
    color: orange;
    font-weight: 600;
    margin-bottom: 20px;
}

.inputstyles{
    border: 1;
    border-radius: 10%;
    margin: 10px 0;
    padding: 20px;
    background: white;
    font-size: 16px;
    box-shadow: 5px 7px 15px 5px #b9b6b6;

}

#button{
    padding: 15px;
    background: #ff5361;
    color: white;
    font-size: 20px;
    width: 150px;
    margin: 20px auto;
    border-radius: 20px;
}

.gender2{
    margin-left: 60px ;
    font-weight: bold;

}
.gender1{
    margin-left: 10px ;
    font-weight: bold;
}
.DOB{
    width: 60%;
}

.lang1{
    margin-left: 5px;
    font-weight: bold;
}

.lang2{
    margin-left: 10px;
    font-weight: bold;
}

.lang3{
    margin-left: 15px;
    font-weight: bold;
}

#msg{
    color: red;
    text-align: center;
    font-size: 16px;
}